:root {
    --ligth-green: 142, 199, 20;
    --black: 0, 0, 0;
    --very-dark-bluewex-black: 19, 22, 28;
    --white: 255, 255, 255;
    --purple: 145, 25, 166; 
    --wet-asphlat: 28, 33, 41;
    --electric-green: 5, 205, 0; 
    --silver: 167, 169, 173; 
}