.banner {
    width: 100%;
    min-height: 50px;
    height: inherit;
    position: relative;
}

.banner-img {
    width: 100%;
}

.banner-text {
    position: absolute;
    color: rgb(var(--white));
    font-size: 60px;
    font-weight: bold;
    top: 20%;
    left: 38%;
}

.banner-currency {
    color: #85bb65;
}